---
import PiagamReact from '../components/PiagamReact.jsx';
import { useState } from 'react';
import PiagamForm from '../components/PiagamForm';
---

<html lang="id">
  <head>
    <title>Piagam Generator</title>
  </head>
  <body>
    <div id="app">
      <PiagamForm client:load />
    </div>
  </body>
</html>
