.piagam-container {
  position: relative;
  width: 800px;
  height: 600px;
  background-image: url('/template-piagam.png');
  background-size: cover;
  margin: auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.text-nama, .text-status {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Georgia', serif;
  color: #333;
}
.text-nama {
  top: 38%;
  left: 50%;
  transform: translateX(-47%);
  font-size: 36px;
  font-weight: bold;
  position: absolute;
}
.text-status {
  top: 54.5%;
  font-size: 28px;
  left: 50%;
  transform: translateX(-48%);
  position: absolute;
}
